body {
  background-color: lightgray;
  margin: 0;
  position: fixed;
  height: 100%;
  width: 100%;
}



a {
    color: black;
}
a:hover {
    color: green;
}

* {box-sizing: border-box;}

h2 { margin: 0; }

#query {
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    /* width: 100%; */
    /* height: 3em; */
    padding: 0.5em;

}



#menu {

    /*white-space: nowrap;
    text-overflow: ellipsis;*/

    position:absolute;
    max-height: 100%;
    overflow: auto;
    background: white;
    padding: 0.25em;
}

#menu.expand {
  width: 100%;

  text-align: center;
}
#menu.expand .grid-item-content {
  max-width: 7em;
  max-height: 4em;
  text-overflow: clip;
  overflow: hidden;

}

#menu.sidebar {
    width: 25%;
}


#menu input, #menu button {
  font-size: 200%;
  max-width: 80%;
}
#menu input {   max-width: 80%;  }
#menu button {   max-width: 18%;  }

#query {
}

#facetsWrapper {
}

#query_results {
    top: 0;
    position: absolute;
    margin-left: 26.5%;
    top: 0;
    left: 0;
    overflow: scroll;
    max-height: 100%;

    /* float: right; */
    /* width: 100%; */
}

#query_results .header {
    display: flex;

}

#query_suggestions div {
    /*padding: 2px;*/
    /*margin: 5px;*/
    /*border: 1px solid gray;*/
    display: inline-flex;
}
#query_suggestions div a {
    cursor: hand;
    text-decoration: underline;
}
#query_suggestions div a:hover {
    color: orange;
}
#query_status {
    display: none;
}


/*
.result .meta {

}

.result .preview {
    display:flex;
    font-size: 80%;
}
*/



.grid-item {
    /* float: left; */
    /*min-height: 50px;
    width: 100%;
    height: 100px;
    font-size: 150%;
    */
    background-color: white;
    padding: 0.5em;
    margin: 0.5em;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(115, 115, 115, .5);
    box-shadow: 0px 0px 5px 5px rgba(115, 115, 115, .5);
    -webkit-transition: all 0.7s ease;
    transition: all 0.4s ease;
}

.grid-item:hover {
    -webkit-box-shadow: 0px 0px 5px 10px rgba(255, 127, 0, .75);
    box-shadow: 0px 0px 5px 10px rgba(255, 127, 0, .75);
    cursor: move;
}

.grid-item.is-dragging,
.grid-item.is-positioning-post-drag {
    background-color: rgba(170,179,255,0.2);
    z-index: 2;
}

.packery-drop-placeholder {
    outline: 3px dashed hsla(0, 0%, 0%, 0.5);
    outline-offset: -6px;
    -webkit-transition: -webkit-transform 0.1s;
    transition: transform 0.1 s;
}
