body {
    margin: 0;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
}

#layout {
    height: 100%;
    width: 100%;
}


#resultsPane, #focus {   
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: auto;   
}

#map {
    width: 100%;
    height: 100%;
    position: fixed;

}
#map * {
    -webkit-transition: none;
    transition: none;
}


* {
    /*-webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;*/
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

a {
    color: black;
}
a:hover {
    color: green;
}

h2 { margin: 0; }


#focus {
    right: 0;
    top: 0;
}

.sidebar {    
    height: 100%;
    max-height:100%;
}

.sidebar .result {
    font-size: 75%;
    overflow: hidden;
}


.sidebar .result .textpreview {
    text-overflow: ellipsis;
}

.main {
    float: right;
}

.shiftdown {
    padding-top: 2em;
}

#query {
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    /* width: 100%; */
    /* height: 3em; */
    padding: 0.5em;

}

#logo {
    margin-bottom: 1em;
}

.hide #query {
    display: block;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
}

.hide #query #logo {
    float: left;
    padding-right: 1em;
    display: none;
    width: 0;
    opacity: 0;
}
.hide #query #map {
    display: none;
}

.hide #query:hover #logo {
    display: block;
    width: auto;
    opacity: 1.0;
}

.hide #query:hover {
    /*background-color: rgba(255,255,255,0.9);*/
}

.hide #query_edit * {
    font-size: 125%;
}

.hide #query_edit {
    float: left;
    max-width: 45%;
}

.hide #querySuggestionsWrapper {
    opacity: 0.8;
    max-width: 50%;
    float: right;
}

.hide #querySuggestionsWrapper .grid-item {
    /*background-color: white;*/
}

.hide #facetsWrapper {
    display: none;
}


#resultsPane, #facetsWrapper {
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.5);
}

/*#resultsDragger {
    position: absolute;
    height: 100%;
    left: 0;
    width: 0.5em;
    cursor: col-resize;
}
#resultsDragger:hover {
    background-color: rgba(250, 250, 250, 0.8);
}*/

#menu.expand #facetsWrapper {
    overflow: hidden;
}

#layout {
    pointer-events: none;
}

#layout div {
    pointer-events: none;
}

#layout div *, .w2ui-panel, .w2ui-resizer {
    pointer-events: auto;
    font-size: 100% !important;
}

.w2ui-panel-content {
    padding: 0 !important;
    overflow: hidden;
}

.w2ui-toolbar {
    background: rgba(200,200,200,0.5) !important;
}

#layout_dock_panel_main, #layout_dock_panel_main * { 
    background: transparent; pointer-events: none !important; display: none;
}

#menu.expand {
    width: 100%;

    text-align: center;
}

#menu.expand .grid-item-content {
    max-width: 7em;
    max-height: 4em;
    text-overflow: clip;
    overflow: hidden;
}


#menu input, #menu button {
    font-size: 200%;
}
#menu input {   max-width: 85%;  }
#menu button {   max-width: 13%;  }


#results .header {
    display: flex;
}

#query_suggestions div {
    /*padding: 2px;*/
    /*margin: 5px;*/
    /*border: 1px solid gray;*/
    display: inline-flex;
}
#query_suggestions div a {
}
#query_suggestions div a:hover {
    color: orange;
}
#query_status {
    display: none;
}

.leaflet-control-attribution {
    display: none;
}


.list-item {
    margin-bottom: 1em !important;
}

.list-item-content, .grid-item-content, .result {
    padding: 0.5em;
}

.result .sub {
    display: inline-table;
    max-width: 48%;
}

.list-item, .grid-item {
    /* float: left; */
    /*min-height: 50px;
    width: 100%;
    height: 100px;
    font-size: 150%;
    */
    margin: 0.5em;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(115, 115, 115, .2);
    box-shadow: 0px 0px 2px 2px rgba(115, 115, 115, .2);
    -webkit-transition: all 0.7s ease;
    transition: all 0.4s ease;
    background-color: rgba(170,170,170,0.9);
}

.list-item:hover, .grid-item:hover {
    -webkit-box-shadow: 0px 0px 4px 8px rgba(50, 127, 255, .75);
    box-shadow: 0px 0px 4px 8px rgba(50, 127, 255, .75);
    /*transform: scale(1.1);*/
    cursor: hand;
}
.sub:hover {
    -webkit-box-shadow: 0px 0px 3px 6px rgba(50, 128, 127, .75);
    box-shadow: 0px 0px 3px 6px rgba(50, 128, 127, .75);
}

.grid-item.is-dragging,
.grid-item.is-positioning-post-drag {
    background-color: rgba(170,179,255,0.2);
    z-index: 2;
}

.packery-drop-placeholder {
    outline: 3px dashed hsla(0, 0%, 0%, 0.5);
    outline-offset: -6px;
    -webkit-transition: -webkit-transform 0.1s;
    transition: transform 0.1 s;
}


.result {
    overflow: hidden;
}

.result h2 {
    text-decoration: underline;
    color: #1a0dab !important;
    font-weight: bold;

    margin-bottom: 26px;
}

.result .textpreview {

    text-overflow: ellipsis;
    max-height: 200px;
    overflow: hidden;
}

.result img {
    float: left;
    max-height: 200px;
    overflow: hidden;
    padding-right: 1em;
}


.map2d_status {
    position: absolute;               
    max-width: 25%;
    pointer-events: none;
    z-index: 1000;      
}

.map2d_status a {
    color: white;
    font-size: 120%;
    opacity: 1.0;
}

.leaflet-container {
    font: inherit !important;
}

/** useless shadow pane consuming rendering energy */
.leaflet-shadow-pane { display: none }

.leaflet-container {
    overflow: hidden !important;
}


#timeline {

    background-color: rgba(255,255,255,0.8);
}

#pf-timeline .popover {
    white-space: pre;
    max-width: none;
}