.spacegraph {
    margin: 0;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;  
}
.spacegraph nav {
    position: fixed;
    top:0;
    right: 0;
    opacity:0.95;
    z-index: 1000;
}
.ui-pnotify {
    z-index: 2000;
}
.spacegraph .graph {
    width: 100%;
    height: 100%;
}
.spacegraph .overlay {
    position: absolute;
    width: 100%;
    height: 100%;                    
    z-index: 5000;
    overflow: hidden;
    pointer-events: none;
    overflow: hidden;

}

.widget {
    pointer-events: none;
    z-index: 6000;
}

.widget * {
    pointer-events: all;
}

#nodeframe {
    opacity: 0.9;
    width: 400px;
    transform-origin: 0 0;
    display: none;
}
