body {
    background-color: black;
    font-family: monospace;
    margin: 0;
    padding: 0;
    display: inline;

}

body * {
    -webkit-transition: background-color 0.2s ease;
    /*-webkit-transition: font-size 0.1s;*/
}


input {
    background-color: black;
    color: orange;
    font-size: 125%;

}

#in {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid gray;
}

#in input {
    width: 80%;
    border: none;
    padding: 0.25em;
}


.box {
    min-width: 10em;
    max-height: 100%;
    max-width: 100%;
    margin: 0.5em;
    padding: 0.1em;
    overflow-y: auto;
    background-color: #555;
}
.windget .box {
    height: 100%;
}

.box:hover {
    background-color: #558;
}


.box div {
    padding: 0.1em;
    /*margin: 0;*/
}

body .box  {
}

.box pre {
    background-color: #000;
    overflow: auto;
}

.group {
    display: inline;
    max-width: 100%;
}

.group .box {
    background-color: #333;
    font-size: 50%;
    margin: 0.1em;
}

.box .controls {

}

.controls .button {
    float:right;
    background-color: #6a2dab;
    padding: 5px;
    margin: 2px;
}
.controls .button:hover {
    background-color: #00a23f;
}


.windgets {
    width: 100%;
    height: 100%;
    pointer-events: none;

    overflow: hidden;

    position: fixed;
    z-index: 5000;
}


.windget {
    background-color: rgba(200,200,200,0.85);
    color: white;


    max-width: 90%;
    max-height: 90%;

    position: fixed;
    box-sizing: border-box;
    pointer-events: all;
    overflow: hidden;
}

.windget .close_button {
    top: 0;
    right: 0;
    opacity: 0.9;
    overflow: hidden;
    position: absolute;
}

.windget .content {

}
