body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:black!important;
    color: gray!important;
    line-height:1.1!important;
    font-family:Arial,Helvetica,sans-serif !important;
}

#view {
    float: right;
    width: 75%;
    height: 100%;
    overflow: auto;
}

#sidebar {
    position: absolute;
    float: left;
    height: 100%;
    width: 25%;
    font-size: 100%;
    /*background-color: black;*/
    margin: 0 !important;
}


/*TODO move to ui.slider.css */
input[type=range].tagSlider {
    -webkit-appearance: none;
    width: 100%;
    margin: 9.8px 0;
}
input[type=range].tagSlider:focus {
    outline: none;
}
input[type=range].tagSlider::-webkit-slider-runnable-track {
    width: 100%;
    height: 9.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #484d4d;
    border-radius: 0px;
    border: 0px solid #010101;
}
input[type=range].tagSlider::-webkit-slider-thumb {
    box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
    border: 0px solid #ff1e00;
    height: 29px;
    width: 18px;
    border-radius: 0px;
    background: #8ad445;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9.8px;
}
input[type=range].tagSlider:focus::-webkit-slider-runnable-track {
    background: #484d4d;
}
input[type=range].tagSlider::-moz-range-track {
    width: 100%;
    height: 9.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #484d4d;
    border-radius: 0px;
    border: 0px solid #010101;
}
input[type=range].tagSlider::-moz-range-thumb {
    box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
    border: 0px solid #ff1e00;
    height: 29px;
    width: 18px;
    border-radius: 0px;
    background: #8ad445;
    cursor: pointer;
}
input[type=range].tagSlider::-ms-track {
    width: 100%;
    height: 9.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range].tagSlider::-ms-fill-lower {
    background: #484d4d;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].tagSlider::-ms-fill-upper {
    background: #484d4d;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].tagSlider::-ms-thumb {
    box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
    border: 0px solid #ff1e00;
    height: 29px;
    width: 18px;
    border-radius: 0px;
    background: #8ad445;
    cursor: pointer;
    height: 9.4px;
}
input[type=range].tagSlider:focus::-ms-fill-lower {
    background: #484d4d;
}
input[type=range].tagSlider:focus::-ms-fill-upper {
    background: #484d4d;
}

/** use with semantic-ui .modal to make a non-modal modal */
.inlineModal {
    position: inherit !important;
    /* width: auto !important; */
    height: auto !important;
    margin: 0.5em !important;
    display: block !important;
    left: 0;
    top: 0;


}

.maxHalfHeight {
    max-height: 50%;
    overflow: auto;
}
.maxFullHeight {
    max-height: 98%;
    overflow: auto;
}

    #baseLayerPickerContainer { position:absolute; top:5px; right:5px; width:38px; height:38px; border:0; }
    .cesium-viewer-toolbar { display: block !important; position: absolute !important; top: 5px !important; right: 42px !important; }